{% extends "base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>

<body>
    <div>
        <h1>Shopping Cart</h1>

        <table bgcolor="black" width="500">
            <tr bgcolor="grey" align="center">
                <th>Dish</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            {% for item in cart %}
            <tr bgcolor="lightgrey" align="center">
                <td>{{ item.dish }}</td>
                <td>{{ item.price }} zł</td>
                <td>
                    <form action="{{ url_for('views.remove_from_cart') }}" method="POST">
                        <input type="hidden" name="dish" value="{{ item.dish }}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        <h2>Total: {{ total }} zł</h2>
    </div>
</body>
{% endblock %}
