{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h1>Products</h1>

        <table bgcolor="black" width="500">
            <tr bgcolor="grey" align="center" >
                {% for header in headings %}
                <th>{{ header}}</th>
                {% endfor %}
            </tr>
            {% for product in products %}
            <tr bgcolor="lightgrey" align="center">
                     <td>{{product.name}}</td><td>{{product.price }}</td><td><input type="submit" value="order"> </td>
            </tr>
            {% endfor %}
    
        </table>
       
    </div>

</body>

{% endblock %}